GOOGLE_API_KEY="<insert your Gemini API key here>"
DB_PATH="sqlite/chinook.db"
FAQ_PDF_PATH="docs/FAQ Dexa Medica.pdf"
FAQ_CHROMA_DIR="chroma_faq"
FAQ_EMBED_MODEL="intfloat/multilingual-e5-small"
RAG_EMBED_MODEL="intfloat/multilingual-e5-small"
FAQ_USE_CHECKPOINTER="false"
HF_HOME="D:/Dokumentasi/revou-gen-ai-tutorial-main/.hf-cache"
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_API_KEY="<insert your LangSmith API key here>"
